affinegap==1.10
agate==1.6.0
appnope==0.1.0
asn1crypto==0.24.0
Authomatic==0.0.13
awscli==1.2.10
Babel==2.5.1
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bcdoc==0.12.0
beautifulsoup4==4.6.0
bleach==2.1.1
boto==2.34.0
botocore==0.30.0
BTrees==4.4.1
cachetools==3.1.0
categorical-distance==1.9
certifi==2017.7.27.1
cffi==1.11.5
chardet==3.0.4
clan==0.1.3
cloudpickle==0.5.2
colorama==0.2.5
configparser==3.5.0
copytext==0.1.9
cryptography==2.2.2
cssmin==0.1.4
csvmatch==1.13
dask==0.17.2
DateTime==4.2
datetime-distance==0.1.3
decorator==4.3.0
dedupe==1.8.1
dedupe-hcluster==0.3.2
dedupe-variable-datetime==0.1.5
Django==1.8.5
django-debug-toolbar==1.6
django-tables2==1.2.6
docutils==0.11
DoubleMetaphone==0.1
ecdsa==0.13.3
entrypoints==0.2.3
enum34==1.1.6
Fabric==1.12.0
facebook-sdk==0.4.0
fastcluster==1.1.24
Flask==0.9
Flask-Misaka==0.3.0
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
fuzzywuzzy==0.15.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
googlemaps==2.5.1
gspread==0.6.2
gunicorn==19.1.1
haversine==0.4.5
highered==0.2.1
html5lib==1.0b10
httplib2==0.11.3
idna==2.6
ipaddress==1.0.22
ipykernel==4.6.1
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.0.3
isodate==0.6.0
jdcal==1.2
jellyfish==0.5.6
Jinja2==2.7.3
jmespath==0.2.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
leather==0.3.3
Levenshtein-search==1.4.4
linaro-django-pagination==2.0.3
locket==0.2.0
MarkupSafe==0.23
misaka==1.0.2
mistune==0.8
MySQL-python==1.2.5
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
nose==1.2.1
notebook==5.2.1
numpy==1.22.0
oauth2client==1.5.2
oauthlib==2.0.4
odict==1.5.1
openpyxl==2.2.0
pandas==0.19.0
pandocfilters==1.4.2
paramiko==1.17.2
parsedatetime==2.4
partd==0.3.8
pathlib2==2.3.2
pbr==4.3.0
persistent==4.2.4.2
pexpect==4.6.0
pickleshare==0.7.5
ply==3.4
pprint==0.1
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pyasn1==0.1.7
pyasn1-modules==0.2.1
pycparser==2.18
pycrypto==2.6.1
Pygments==2.2.0
pyhacrf-datamade==0.2.1
PyLBFGS==0.2.0.5
pyodbc==4.0.25
pyOpenSSL==18.0.0
pyproj==1.9.5.1
python-crontab==2.2.8
python-dateutil==2.7.3
python-Levenshtein==0.12.0
python-magic==0.4.15
python-slugify==1.2.4
pytimeparse==1.1.7
pytz==2017.3
PyYAML==3.11
pyzmq==17.1.2
qtconsole==4.3.1
requests==2.18.4
requests-oauthlib==0.8.0
rlr==2.4.3
rsa==4.0
s3cmd==2.0.2
scandir==1.9.0
selenium==3.4.3
simplecosine==1.2
simplegeneric==0.8.1
simplejson==3.13.2
singledispatch==3.4.0.3
six==1.11.0
slimit==0.7.4
smartypants==1.8.6
sqlparse==0.2.2
ssh==1.7.14
stevedore==1.29.0
termcolor==1.1.0
terminado==0.6
testpath==0.3.1
textblob==0.13.0
toolz==0.9.0
tornado==5.1.1
traitlets==4.3.2
tweepy==3.5.0
twitter==1.14.3
unicodecsv==0.14.1
Unidecode==0.4.21
uritemplate==3.0.0
uritemplate.py==3.0.2
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
wcwidth==0.1.7
webencodings==0.5.1
webstack-django-sorting==0.4.3
Werkzeug==0.8.3
widgetsnbextension==3.0.6
xlrd==1.1.0
zope.index==4.3.0
zope.interface==4.4.3
